.container {
	width: 100%;
	height: 100vh;
	display: flex;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;

	&__slide {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.8s ease-in-out;

		.wrapper-content {
			width: 80vw;
			height: 50%;
			transition: all 0.8s ease-in-out;
			position: relative;
		}

		.employee {
			color: #007aff;

			img {
				border-top: 6px solid #007aff;
			}
		}

		.customer {
			color: #ff9400;

			img {
				border-top: 6px solid #ff9400;
			}
		}

		.stranger {
			color: red;
			img {
				border-top: 6px solid red;
			}
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			font-family: inherit;
			transition: all 0.8s ease-in-out;
			width: 100%;
			height: 100%;

			&__img {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;

				img {
					width: 25vw;
					height: 43vh;
					border-radius: 20px;

					box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
						rgba(0, 0, 0, 0.09) 0px 4px 2px,
						rgba(0, 0, 0, 0.09) 0px 8px 4px,
						rgba(0, 0, 0, 0.09) 0px 16px 8px,
						rgba(0, 0, 0, 0.09) 0px 32px 16px;
					transition: all 0.8s linear;
				}
			}

			&__description {
				margin-top: 25px;
				font-size: 34px;
				font-weight: 500;
				line-height: 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;

				p {
					word-wrap: break-word;
					text-align: center;
				}
				.time {
					font-size: 20px;
					font-weight: bold;
					letter-spacing: 1px;
				}
			}
		}
	}
}
