* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// background: linear-gradient(
	// 	-45deg,
	// 	#085078,
	// 	#e6dada,
	// 	#93f9b9,
	// 	#cc95c0,
	// 	#0abfbc
	// );
	// background-size: 400% 400%;
	// animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
